<launch>
    <arg name="wheel_diameter" value="0.0667" />
    <arg name="wheel_separation" value="0.18" />
    <!-- <arg name = "model" default = "$(find robot_model)/urdf/my_robot.urdf"/>
    <param name = "robot_description" command = "cat $(arg model)"/> -->
    <node name="serial_node"        pkg="rosserial_arduino"      type="serial_node.py">
        <param name="port"              type="string"               value="/dev/ttyACM0"/>
        <param name="baud"              type="int"                  value="57600"/>
    </node>

    <node name="diff_drive_controller" pkg="diff_drive_controller" type="diff_drive_controller">
        <rosparam subst_value="true">
            wheel_diameter: $(arg wheel_diameter)
            wheel_separation: $(arg wheel_separation)
            linear_vel_limit: 0.2
            angular_vel_limit: 1
        </rosparam>
    </node>
    <node name="diff_drive_odometry" pkg="diff_drive_controller" type="diff_drive_odometry">
    </node>
    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
        <remap from="/cmd_vel" to="/cmd_vel"/>
    </node>
    <!--Show in Rviz-->
    <!-- <node name = "rviz" pkg = "rviz" type = "rviz" args = "" /> -->
    <node name = "rviz" pkg = "rviz" type = "rviz" args = "-d $(find diff_drive_controller)/rviz_config/config.rviz" />
</launch>